html, body {
	background: url('../img/bg.svg') var(--white);
	color: var(--black);
	font-family: 'Titillium Web', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}