header {
	box-sizing: border-box;
	height: 70px;
	width: 100%;
	text-align: left;
	box-shadow: var(--shadow);
	background: var(--gradient);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transition: all 0.5s ease;
	display: flex;

	&.scrolled {
		height: 50px;
	}

	& .container {
		max-width: 1024px;
		margin: auto;
		position: relative;
		width: 100%;
	}

	& .logo, & .github {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	& .logo {
		left: 0;

		@media (max-width: 1064px) {
			left: 20px;
		}
	}

	& .github {
		right: 0;

		@media (max-width: 1064px) {
			right: 20px;
		}
	}

	& .github {
		float: right;

		& iframe {
			margin: 0 0 0 15px;
			padding: 0;
		}
	}
}

[data-aos="header-animation"] {
	transform: translateY(-60px);
	opacity: 0;

	&.aos-animate {
		transform: translateY(0);
		opacity: 1;
	}
}

article {
	max-width: 824px;
	margin: 0 auto 60px;
	background: var(--white);
	box-sizing: border-box;
	padding: 130px 60px 60px;
	position: relative;

	@media (max-width: 864px) {
		width: calc(100% - 40px);
	}

	& section {
		max-width: 640px;
		margin: 0 auto;
	}

	& img {
		height: auto;
	}

	@media (--screen-mobile) {
		margin: 0 auto 20px;
		padding: 90px 20px 20px;
	}
}

ul.features {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (--screen-mobile) {
		display: block;
	}

	& li {
		flex: 33.333%;
		width: 33.333%;
		text-align: center;
		box-sizing: border-box;
		padding: 40px 0;
		margin: 40px 0;
		position: relative;
		display: flex;

		@media (--screen-mobile) {
			display: block;
		}

		& div {
			margin: auto;
		}

		@media (--screen-mobile) {
			width: 100%;
			padding: 20px 0;
			margin: 20px 0;
			height: auto;
		}

		& i {
			font-style: normal;
			display: block;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 120px;

			@media (--screen-mobile) {
				position: inherit;
				margin-top: 20px;
				transform: none;
				width: 100%;
			}
		}

		&:before {
			content: none;
			display: none;
		}
	}
}

p {
	font-size: 14px;
	line-height: 1.5;
	margin: 0 0 20px 0;
}

h1 {
	font-family: var(--font-special);
	font-size: 48px;
	color: var(--primary-color);
	font-weight: 500;
	margin: 0 auto 20px auto;

	@media (--screen-mobile) {
		font-size: 32px;
	}
}

ul {
	@apply --nolist;

	& li {
		margin: 5px 0;
		position: relative;
		box-sizing: border-box;
		padding-left: 20px;
		font-size: 14px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 5px;
			width: 8px;
			height: 8px;
			background: var(--primary-color);
			border-radius: 100%;
		}
	}
}

hr {
	height: 1px;
	width: 100%;
	border: none;
	padding: 0;
	margin: 80px 0;
	left: 0;

	@media (--screen-mobile) {
		margin: 20px 0;
	}

	&:after {
		content: '';
		background: var(--light-gray);
		height: 1px;
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
	}
}

a {
	color: var(--primary-color);
	transition: all 0.3s ease;
	text-decoration: underline;

	&:hover {
		color: var(--purple);
	}
}

em {
	background: var(--brown);
	box-sizing: border-box;
	padding: 20px;
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: 700;
	color: var(--white);
	font-style: normal;
	margin: 0;
}

img {
	vertical-align: middle;
	transition: all 0.3s ease;
}

footer {
	max-width: 640px;
	margin: auto auto 60px auto;
	text-align: center;

	@media (--screen-mobile) {
		margin: auto auto 20px auto;
	}

	& a {
		&:hover {
			& img {
				transform: scale(1.2);
			}
		}
	}
}

.emphasise {
	background: var(--pink);
	color: var(--white);
	padding: 0 3px 2px;
}

strong {
	font-weight: 900;
	color: var(--black);
}

.nodejs {
	border: solid 1px var(--light-gray);
	padding: 15px 30px 15px 50px;
	margin-bottom: 20px;
	display: inline-block;
	text-decoration: none;
	background: url(../img/icons/node-icon.svg) no-repeat 20px center;
	background-size: 22px;
	color: var(--dark-gray);
	font-weight: bold;
	border-radius: 6px;
}

.gulp {
	position: absolute;
	right: 0;
	top: 0;

	@media (--screen-mobile) {
		height: 40px;
	}
}

.relative {
	position: relative;
	clear: both;
	display: block;
}