:root {
	--primary-color: #A5C1D9;
	--purple: #D3AAE0;
	--pink: #FDADAB;
	--black: #4A4A4A;
	--white: #FFFFFF;
	--shadow: 0 2px 5px 0 color(var(--primary-color) alpha(-80%));
}

@custom-media --screen-tiny (max-width: 320px);
@custom-media --screen-mobile (max-width: 640px);
@custom-media --screen-phablet (max-width: 820px);
@custom-media --screen-tablet print, (max-width: 1000px);
@custom-media --screen-desktop print, (max-width: 1240px);
@custom-media --screen-big print, (min-width: 2000px);
@custom-media --screen-4k (min-width: 3870px);

:root {
	--clearfix: {
		clear: both;

		&:before,
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	};

	--nolist: {
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			padding: 0;
		}
	};
}