<FilesMatch "\.(ico|pdf|svg|flv|jpg|jpeg|png|gif|js|css|swf|woff|ttf|json)$">
	Header set Cache-Control "max-age=290304000, public"
</FilesMatch>
<ifModule mod_deflate.c>
	<FilesMatch "\.(js|css|html|php|svg|png|jpeg|jpg|ttf|json)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</ifModule>

ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,L,NC]

## To internally redirect /dir/foo to /dir/foo.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [L]